 <nav>
        <div class="container-fluid bg-dark first">
            <div class="row">
                <div class="col-sm-10 col-12 m-auto">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#"><span>
                                <i class="fab fa-pied-piper-alt"></i>
                            </span>Aman-app</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button> 
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                                    <li class="nav-item px-1">
                                        <a class="nav-link" href="/">Home</a>
                                    </li>
                                    <li class="nav-item px-1">
                                    <a class="nav-link" href="/about">About </a>
                                    </li>
                                    <li class="nav-item px-1">
                                    <a class="nav-link" href="/weather">Weather</a>
                                    </li>
                                    <li class="nav-item px-1">
                                    <a class="nav-link" href="/santa">Santa</a>
                                    </li>

                                </ul>


                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </nav>
